<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>教师客户端</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,height=device-height,
    user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="keywords" content="管理系统"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <link rel="stylesheet" href="../stylesheets/teacher.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div id="whole">
        <header>
            <el-row>
                <el-col :span="18">
                    <div class="grid-content bg-purple-dark title"><i class="el-icon-edit"></i>管理学生的权限</div>
                </el-col>
                <el-col :span="6" v-show="logined">
                    <div class="grid-content bg-purple-dark">
                        <el-radio-group v-model="modelSelected" @change="changeMod">
                            <el-radio-button label="授予学生职位"></el-radio-button>
                            <el-radio-button label="个人权限编辑"></el-radio-button>
                        </el-radio-group>
                    </div>
                </el-col>
            </el-row>
        </header>
        <div class="login" v-show="!logined">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span class="small-font">老师您好，请先登录</span>
                </div>
                <el-form :rules="rules" ref="teacher" :model="teacher" label-width="80px">
                    <el-form-item label="工号"  prop="teacherId">
                        <el-input v-model="teacher.teacherId"></el-input>
                    </el-form-item>
                    <el-form-item  label="密码" prop="teacherPass">
                        <el-input type="password" v-model="teacher.teacherPass" auto-complete="off" ></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="tryLogin">登录</el-button>
                        <el-button @click="reset">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </div>
        <div class="edit-box">
            <el-card class="box-card">
                <div class="role-box" v-if="roleMod">
                    <div slot="header" class="clearfix">
                        <span class="small-font">学生角色列表</span>
                    </div>
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="student-head">
                            <tr>
                                <th class="student-num-head">姓名</th>
                                <th class="student-role-head" colspan="5">身份</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="student-row" v-bind:key="student.studentId" v-for="(student , index) in students">
                                <td>{{ student.studentName }}</td>
                                <td :class="{ choosed: student.role === 4 }" @click="changeStudentRole(index,4)">班长</td>
                                <td :class="{ choosed: student.role === 3 }" @click="changeStudentRole(index,3)">团支书</td>
                                <td :class="{ choosed: student.role === 2 }" @click="changeStudentRole(index,2)">学习委员</td>
                                <td :class="{ choosed: student.role === 1 }" @click="changeStudentRole(index,1)">课代表</td>
                                <td :class="{ choosed: student.role === 0 }" @click="changeStudentRole(index,0)">普通学生</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="rank-box" v-if="!roleMod">
                    <div slot="header" class="clearfix">
                        <span class="small-font">学生可增减权限列表</span>
                    </div>
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="student-head">
                            <tr>
                                <th class="student-num-head">姓名</th>
                                <th class="student-role-head" colspan="5">可增减权限</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="student-row" v-bind:key="student.studentId" v-for="(student , index) in students">
                                <td>{{ student.studentName }}</td>
                                <td :class="{ choosed: student.powers[0] != 0 }" v-show="student._powers[0] == 0" @click="changePower(index,0)">开班会</td>
                                <td :class="{ choosed: student.powers[1] != 0 }" v-show="student._powers[1] == 0" @click="changePower(index,1)">收党费</td>
                                <td :class="{ choosed: student.powers[2] != 0 }" v-show="student._powers[2] == 0" @click="changePower(index,2)">评优生</td>
                                <td :class="{ choosed: student.powers[3] != 0 }" v-show="student._powers[3] == 0" @click="changePower(index,3)">考  勤</td>
                                <td :class="{ choosed: student.powers[4] != 0 }" v-show="student._powers[4] == 0" @click="changePower(index,4)">管回复</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-card>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/vue/2.0.3/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../javascripts/teacher.js"></script>
</body>
</html>